// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.teams-table {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

td, th {
  border: 1px solid #000;
  text-align: center !important;
}
.horizontal-scroll {
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}

.my-table {
  min-width: rem-calc(640);
}

.person-class {
  background: #005A9C !important;
  & > td {
    color: #fff;
  }
}

.win-class {
  background: goldenrod !important;
}

.text-muted {
  text-transform: uppercase;
}

@media all and (max-width: 500px) {
  .teams-table {
    margin: 5px;
  }
}
